* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: 24px;
}
.card {
  height: auto;
  transition: all 250ms ease-in-out;
  border-radius: 18px;
}
.card:hover {
  box-shadow: 4px 16px 16px rgba(185, 185, 185, 0.24);
}
